h4 {
    margin-top: 25px;
}
.row {
    margin-bottom: 20px;
}
.row .row {
    margin-top: 10px;
    margin-bottom: 0;
}
[class*="col-"] {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: lightgray;
    border: 1px solid #ddd;
    border: 1px solid rgba(86,61,124,.2);
}

.btn {
    margin-right: 5px;
}

hr {
    margin-top: 40px;
    margin-bottom: 40px;
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    height:10000px;
}
